# Compiler files
cache/
out/
artifacts/
typechain/
coverage/

# Foundry broadcast logs
broadcast/
!/broadcast
/broadcast/*/31337/
broadcast/**/dry-run/

# Node and React
node_modules/
dist/
build/

# Env files
.env
.env.local
.env.*.local
.env.test.local

# OS
.DS_Store

# Docs
docs/

# IDEs
.vscode/
.idea/

# GitHub
!.github/workflows/
